
<div class="factionsReview">

    <section id="usageGraph">
        <h2>
            Historique d'utilisation
        </h2>
        
        <span>
            Ce graphique représente l'utilisation moyenne de chaque faction, calculée grâce à une moyenne mobile sur les 10 dernières parties.
        </span>
        
        <canvas style="height: 200px"
            class="chart chart-line"
            data="factionsStats.usageGraph.data"
            labels="factionsStats.usageGraph.labels"
            options="factionsStats.usageGraph.options"
            series="factionsStats.usageGraph.series"
            colours="factionsStats.usageGraph.colours">
        </canvas>
    </section>

    <header>

		<select
			ng-model="factionid"
			ng-change="getFactionStats()">
			<option value="" disabled>Choisir une faction...</option>
            <option ng-repeat="faction in factions" value="{{faction.faction_id}}">&nbsp;&nbsp;&nbsp;{{faction.name}}</option>
		</select>
        
    </header>
		
    <section ng-if="factionSelected" ng-include="'partials/factionReview.html'"></section>

</div>



	