
<header>
	
    <div class="factionid">
        <img class="badge" src="api/factions/{{ factionInfo.faction_id }}/logo" tooltip="{{ factionInfo.faction_name }}">

        <span class="something">Faction utilisée <strong>{{ factionRanking.games_played }} fois</strong>. {{ factionRanking.games_won }}-{{ factionRanking.games_lost }}-{{ factionRanking.games_tied }}</span>
		<p>
		<span class="something">Joueurs pour lesquels cette faction est leur choix le plus fréquent: </span></p>
			<div class="something" ng-repeat="player in factionStats.frequentUseList">
				<strong>{{ player.player_nickname }}</strong> ({{ player.player_firstname }} {{ player.player_lastname }}) {{ player.games_played_with }} fois ({{ 100* player.games_played_with / player.total | number:0 }}% des parties)
			</div>


		
    </div>
	
</header>
<section id="factionEfficiencyStatsWith">
		<span class="something">Statistiques contre les autres factions</span>
			<div class="faction" ng-repeat="opponent in factionStats.efficiencyRatiosAgainst">
				<img class="badge" src="api/factions/{{ opponent.rival_faction_id }}/logo" tooltip="{{ opponent.rival_faction_name }}">
					<span class="something">Efficacité de {{ opponent.efficiencyRatioAgainst | number:0  }}% avec <strong>{{ opponent.games_played }} parties</strong> jouées. {{ opponent.games_won }}-{{ opponent.games_lost }}-{{ opponent.games_tied }}
					</span>
			
			
				<div class="stats_bar" ng-attr-style="width: {{ 100 * opponent.games_played / factionStats.maxGamesAgainstFaction | number:2 | decimalDot }}%">
        
					<div class="faction_stats_bar darker" ng-attr-style="width: {{ 99.99 * opponent.games_won / opponent.games_played | number:2 | decimalDot }}%;" tooltip="{{ opponent.games_won }} victoires avec {{ opponent.rival_faction_name }}"></div>
        
					<div class="faction_stats_bar" ng-attr-style="width: {{ 99.99 * opponent.games_tied / opponent.games_played | number:2 | decimalDot }}%;" tooltip="{{ opponent.games_tied }} nulles avec {{ opponent.rival_faction_name }}"></div>
            
					<div class="faction_stats_bar lighter" ng-attr-style="width: {{ 99.99 * opponent.games_lost / opponent.games_played | number:2 | decimalDot }}%;" tooltip="{{ opponent.games_lost }} défaites avec {{ opponent.rival_faction_name }}"></div>
            
				</div>
			</div>
		
</section>


		


