
	<div ng-repeat="game in games">
	
		<div class="date" ng-if="game.is_group_title">
			{{ game.date_string }}
		</div>
	
		<div class="game clear" ng-if="!game.is_group_title">
			<div class="player player1">
				<div class="playerid">
					<span class="nickname">{{ game.player1_nickname }}</span>
					<span class="fullname">({{ game.player1_firstname }} {{ game.player1_lastname }})</span>
				</div>
				<div class="badges">
					<img class="badge" src="images/VictoryLogo.png" ng-if="!game.is_draw" />
					<img class="badge" src="api/{{ game.player1_faction_logo }}" />
				</div>
			</div>
			<div class="player player2">
				<div class="playerid">
					<span class="nickname">{{ game.player2_nickname }}</span>
					<span class="fullname">({{ game.player2_firstname }} {{ game.player2_lastname }})</span>
				</div>
				<div class="badges">
					<img class="badge" src="api/{{ game.player2_faction_logo }}" />
				</div>
			</div>
			<div class="moreInfo">
			</div>
		</div>
		
	</div>