
		<div class="player clear" ng-repeat="player in players">
	
			<div class="playerid">
				<span class="nickname">{{ player.nickname }}</span>
				<span class="fullname">({{ player.firstname }} {{ player.lastname }})</span>
			</div>
		
			<div class="player_stats">
				<div ng-init="offsetCorrection=player.player_id-1"></div>
				<span class="lastdate">Date de la dernière partie: {{ lastdates[offsetCorrection].lastdate }}</span>
				<span class="bestratio">Meilleure faction: {{ bestratio[offsetCorrection].faction_name }} Efficacité: {{ bestratio[offsetCorrection].best*100 }} %</span>
			</div>
		
		</div>
