
	
<header>
	
    <div class="playerid">
        <img class="badge" src="api/factions/{{ playerStats.mostPlayedFaction.faction_id }}/logo" tooltip="{{ playerStats.mostPlayedFaction.faction_name }}">
    
        <span class="nickname">{{ playerInfo.nickname }}</span>
        <span class="fullname">({{ playerInfo.firstname }} {{ playerInfo.lastname }})</span>
        <span class="lastgame">Dernière partie le {{ playerStats.lastgame.date }} contre {{ playerStats.lastgame.nickname }} ({{ playerStats.lastgame.firstname }} {{ playerStats.lastgame.lastname }}).</span>
		<span class="gameCounts">{{ playerStats.gameCounts.total }} parties jouées ({{ playerStats.gameCounts.in_person }} en personne et {{ playerStats.gameCounts.online }} sur internet).</span>

    </div>
	
</header>

<!--
<section id="frequentOpponents">

    <h2>Adversaires fréquents</h2>
    
    <span ng-repeat="player in playerStats.opponents.slice(0,3)">
        {{ player.rival_firstname }} {{ player.rival_lastname }} ({{ player.rival_nickname }}) {{ player.games_played }} parties. {{ player.games_won}}-{{ player.games_lost}}-{{ player.games_tied}}
    </span>

</section>
-->

<section id="factionEfficiencyStatsWith">
		
    <h2>
        Statistiques en jouant avec les différentes factions
    </h2>
    <!--
    <div class="faction titleRow">
        <div class="with">
            Efficacité en jouant <strong ng-click="showEfficiencyWithInfo()">avec<sup>?</sup></strong>
        </div>
        
        <div class="against">
            Efficacité en jouant <strong ng-click="showEfficiencyAgainstInfo()">contre<sup>?</sup></strong>
        </div>
    </div>
    -->
    
    <div class="faction" ng-repeat="faction in playerStats.factionEfficiencyRatiosWith">
    
        <img class="badge" src="api/factions/{{ faction.faction_id }}/logo" tooltip="{{ faction.faction_name }}">
        
        <span><strong>{{ faction.efficiencyRatioWith | number:0 }}%</strong> d'efficacité avec <strong>{{ faction.games_played_with }} parties</strong> jouées avec ({{ faction.games_won_with }}-{{ faction.games_lost_with }}-{{ faction.games_tied_with }})</span>
        
        <div class="stats_bar" ng-attr-style="width: {{ 100 * faction.games_played_with / playerStats.maxGamesWithFaction | number:2 | decimalDot }}%">
        
            <div class="faction_stats_bar darker" ng-attr-style="width: {{ 99.99 * faction.games_won_with / faction.games_played_with | number:2 | decimalDot }}%;" tooltip="{{ faction.games_won_with }} victoires avec {{ faction.faction_name }}"></div>
        
            <div class="faction_stats_bar" ng-attr-style="width: {{ 99.99 * faction.games_tied_with / faction.games_played_with | number:2 | decimalDot }}%;" tooltip="{{ faction.games_tied_with }} nulles avec {{ faction.faction_name }}"></div>
            
            <div class="faction_stats_bar lighter" ng-attr-style="width: {{ 99.99 * faction.games_lost_with / faction.games_played_with | number:2 | decimalDot }}%;" tooltip="{{ faction.games_lost_with }} défaites avec {{ faction.faction_name }}"></div>
            
        </div>
    </div>
    
</section>
		
        
<section id="factionEfficiencyStatsAgainst">

    <h2>
        Statistiques en contre avec les différentes factions
    </h2>
    
    <div class="faction" ng-repeat="faction in playerStats.factionEfficiencyRatiosAgainst">
    
        <img class="badge" src="api/factions/{{ faction.faction_id }}/logo" tooltip="{{ faction.faction_name }}">
        
        <span><strong>{{ faction.efficiencyRatioAgainst | number:0 }}%</strong> d'efficacité avec <strong>{{ faction.games_played_against }} parties</strong> jouées contre ({{ faction.games_won_against }}-{{ faction.games_lost_against }}-{{ faction.games_tied_against }})</span>
        
        <div class="stats_bar" ng-attr-style="width: {{ 100 * faction.games_played_against / playerStats.maxGamesAgainstFaction | number:2 | decimalDot }}%">
        
            <div class="faction_stats_bar darker" ng-attr-style="width: {{ 99.99 * faction.games_won_against / faction.games_played_against | number:2 | decimalDot }}%;" tooltip="{{ faction.games_won_against }} victoires contre {{ faction.faction_name }}"></div>
        
            <div class="faction_stats_bar" ng-attr-style="width: {{ 99.99 * faction.games_tied_against / faction.games_played_against | number:2 | decimalDot }}%;" tooltip="{{ faction.games_tied_against }} nulles contre {{ faction.faction_name }}"></div>
            
            <div class="faction_stats_bar lighter" ng-attr-style="width: {{ 99.99 * faction.games_lost_against / faction.games_played_against | number:2 | decimalDot }}%;" tooltip="{{ faction.games_lost_against }} défaites contre {{ faction.faction_name }}"></div>
            
        </div>
    </div>
		
</section>


<section id="opponentStats">
		
    <h2>
        Statistiques contre les autres joueurs
    </h2>
        
	<ul>
		<li ng-repeat="player in playerStats.opponents">
            <span>
                <strong>{{ player.games_played }} parties</strong> jouées contre <strong>{{ player.rival_nickname }}</strong> ({{ player.rival_firstname }} {{ player.rival_lastname }}) : {{ player.games_won }} victoires<span ng-show="player.games_lost">, {{ player.games_lost }} défaites</span><span ng-show="player.games_tied">, {{ player.games_tied }} nulles</span>
            </span>
			
            <div class="stats_bar" ng-attr-style="width: {{ 100 * player.games_played / playerStats.maxGamesAgainstPlayer | number:2 | decimalDot }}%">
                <div class="darker" ng-attr-style="width: {{ 99.99 * player.games_won / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_won }} parties gagnées"></div>
                <div ng-attr-style="width: {{ 99.99 * player.games_tied / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_tied }} parties annulées"></div>
                <div class="lighter" ng-attr-style="width: {{ 99.99 * player.games_lost / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_lost }} parties perdues"></div>
            </div>
		</li>
	</ul>

</section>