
	
<header>
	
    <div class="playerid">
        <img class="badge" src="api/factions/{{ mostPlayedFaction.faction_id }}/logo" tooltip="{{ mostPlayedFaction.faction_name }}">
    
        <span class="nickname">{{ info.nickname }}</span>
        <span class="fullname">({{ info.firstname }} {{ info.lastname }})</span>
        <span class="lastgame">Dernière partie le {{ lastgame.date }} contre {{ lastgame.opponent.nickname }}</span>
    </div>
	
</header>

<section>
		
		<div class="something">
			<span>Efficacité <img src=".\images\infomodal.png" width="23" ng-click="showEfficiencyWithInfo()"/> en jouant <strong>avec</strong> {{ ratio.faction_name }}</span>
		</div>
		
		
		<div ng-repeat="ratio in efficiencyRatiosWith">
			<div class="logo">
				<img class="badge" src="api/factions/{{ ratio.faction_id }}/logo" tooltip="{{ ratio.faction_name }}">
			</div>
			<div class="faction_played_with">
			{{ ratio.efficiencyRatio }} % avec {{ ratio.games_played_with }} parties jouées avec cette faction.
			</div>
		</div>
		
		<div class="something">
			<span>Efficacité <img src=".\images\infomodal.png" width="23" ng-click="showEfficiencyAgainstInfo()"/> en jouant <strong>contre</strong> {{ ratio.faction_name }}</span>
		</div>
		
		<div ng-repeat="ratio in efficiencyRatiosAgainst">
			<div class="logo">
				<img class="badge" src="api/factions/{{ ratio.faction_id }}/logo" tooltip="{{ ratio.faction_name }}">
			</div>
			<div class="faction_played_against">
			{{ ratio.efficiencyRatio }} % avec {{ ratio.games_played_against }} parties jouées contre cette faction.
			</div>
		</div>
		
</section>