<!DOCTYPE HTML>
<!--[if lt IE 9]><html class="ie" ng-app="rebelLeaguesAdminApp"><![endif]-->
<!--[if gte IE 9]><!--><html ng-app="rebelLeaguesAdminApp"><!--<![endif]-->

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	
	<title>RebelLeagues - Admin</title>
	
	<link rel="stylesheet" media="all" href="styles.php" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
	<script src="scripts/lib/ui-bootstrap-tpls-0.10.0.js"></script>
	
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

<div id="topBar">
	<div>
		<a href="//rebelleagues.com">Rebel<strong>Leagues</strong></a>
	</div>
</div>

<div id="wrapper" class="clear" ng-controller="mainCtrl" >
		
	<div id="login" class="clear" ng-if="!loggedIn">
		<div class="left">
			<h3>Continuer sans authentification</h3>
			<p>Cette option vous permet d'ajouter un nouveau joueur ou une nouvelle partie.</p>
			<button ng-click="noLogin()">Ne pas s'authentifier</button>
		</div>
		<div class="right">
			<h3>S'authentifier</h3>
			<p>Pour avoir accès plus de fonctionnalités</p>
			<form ng-class="{invalid: loginInfo.invalid}">
				<input type="text" ng-model="loginInfo.username" placeholder="Nom d'utilisateur" />
				<input type="password" ng-model="loginInfo.password" placeholder="Mot de passe" />
				<button ng-click="login(loginInfo)">S'authentifier</button>
			</form>
		</div>
	</div>
	
	<div class="userInfo anonymous" ng-if="loggedIn && anonymousUser">
		<h3>Vous êtes un utilisateur anonyme.</h3>
		<p>Voulez-vous vous <a ng-click="resetLogin()">authentifier</a>?</p>
	</div>
	
	<div class="userInfo" ng-if="loggedIn && !anonymousUser">
		<h3>Bonjour, {{ user.username }}!</h3>
		<p>Voulez-vous vous <a ng-click="logout()">déconnecter</a>?</p>
	</div>
		
		
		
	<div id="main" ng-if="loggedIn">
	
		<div ng-controller="addPlayerCtrl" ng-class="{expanded: expanded}">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="editPlayerCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 2">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="addGameCtrl" ng-class="{expanded: expanded}">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="editGameCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 2">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="editLeagueCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 1">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="addAttributeCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 1">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="editAttributeCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 1">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="addTagCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 1">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
	
		<div ng-controller="editTagCtrl" ng-class="{expanded: expanded}" ng-if="user.tier <= 1">
			<h1 ng-click="toggle()">{{ title }} <i class="fa fa-chevron-down"></i></h1>
			<div class="partial" ng-include="partial" ng-if="expanded"></div>
		</div>
		
	</div>

	
	
	<footer class="clear">
		<div class="left">
			Cette ligue utilise le système <strong>Rebel<strong>Leagues</strong></strong>,<br />
			développé par <strong>Kevin Bélisle</strong> et <strong>Michaël Juneau</strong>.
		</div>
		<div class="right">
			<a href="../">Retour à la ligue</a><br />
			RebelLeagues v0.1
		</div>
	</footer>

</div>

<script src="scripts/controllers.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>