


/*  FONTS */

$light_weight: 300;
$medium_weight: 400;
$heavy_weight: 700;

$base_font_size: 19px;

$small_text: 0.8em;
$normal_text: 1em;
$large_text: 1.2em;



/*  COLORS */

$xlight_color: #f6f6f6;
$light_color: #eeeeee;
$dark_color: #e1e1e1;
$xdark_color: #929395;
$xxdark_color: #141414;

$accent_color: #6652c8;



/*  OTHER CONSTANTS */

$background_image: url("../images/background.png");
$background_color: #0c0c0c;