
<form id="addPlayer" class="clear">

	<div class="left">
		<input type="text" class="fullWidth" ng-model="player.nickname" placeholder="Nickname" required></input>

			<input type="text" class="fullWidth" ng-model="player.firstname" placeholder="Prénom" required></input>
			<input type="text" class="fullWidth" ng-model="player.lastname" placeholder="Nom" required></input>
	</div>
	<div class="right">
		<div tag-editor ng-model="player.tags"></div>

		<button ng-click="submit(player)" class="fullWidth">Submit</button>
	</div>

</form>
