
<div id="editAttribute" class="clear">

	<form ng-repeat="attribute in attributes" class="inline">
		
		<div class="left">
			<label class="fullWidth">Nom: <input type="text" ng-model="attribute.name" /></label>
			<label class="fullWidth">Groupe: <input type="text" ng-model="attribute.attribute_group" /></label>
			<button class="fullWidth" ng-click="save(attribute)">Enregistrer</button>
		</div>
		<div class="right">
			<label class="fullWidth">Icône: <input type="text" ng-model="attribute.icon" /></label>
			<label class="fullWidth">Logo: <input type="text" ng-model="attribute.logo" /></label>
			<button class="fullWidth" ng-click="delete(attribute)">Supprimer</button>
		</div>
		
	</forms>
	
</div>