
/* IMPORT FRAMELESS */
@import 'frameless';
@import 'layout';
@import 'animations';

/*  FONTS */
@import url(http://fonts.googleapis.com/css?family=Signika:400,600,300);
$main_font: "Signika", sans-serif;

$light_weight: 300;
$medium_weight: 400;
$heavy_weight: 700;

$base_font_size: 19px;

$small_text: 0.8em;
$normal_text: 0.8em;
$large_text: 1.2em;

/*  COLORS */

$xlight_color: #f6f6f6;
$light_color: #eeeeee;
$dark_color: #e1e1e1;
$xdark_color: #929395;
$xxdark_color: #141414;

$accent_color: #6652c8;



/* CLEAR FIX */
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}




/*  GENERAL STYLING */

body {
	background-color: #0c0c0c;
	background-image: url("images/background.png");
	
	font-family: $main_font;
	font-weight: $light_weight;
	font-size: $base_font_size;
}

div#topBar {
	background-color: #c30008;
	border-bottom: 1px solid #e92b32;
	color: $xlight_color;
	
	div {
		line-height: 40px;
		text-align: right;
		strong {
			font-weight: $heavy_weight;
		}
	}
}

div#wrapper {
}

	div#right {
		
		color: $xdark_color;
	
		header {
		
			img#logo {
				width: 100px;
				height: 100px;
				display: block;
				
				background: purple;
				border-radius: 50px;
				box-shadow: 0 0 0 3px $xlight_color; /* This is actually a border. */
				
				margin: 0 auto;
			}
			
			h1 {
				margin-top: 10px;
				
				text-align: center;
				color: $xlight_color;
				font-size: $large_text;
				font-weight: $heavy_weight;
			}
			h2 {
				text-align: center;
				font-size: 1em;
				font-weight: 100;
			}
		}
		
		aside {
			border-top: 3px solid $xlight_color;
			margin-top: 30px;
			padding-top: 30px;
			
			div#stats {
				ul {
					list-style-type: none;
					
					li {
						margin-bottom: 5px;
						
						span {
							box-sizing: border-box;
							transition: padding-left ease 200ms,
										padding-right ease 200ms;
										
							text-transform: uppercase;
							font-size: $small_text;
							color: $dark_color;
						}
						
						span.left {
							display: inline-block;
							width: 80%;
							float: left;
						}
						span.right {
							display: inline-block;
							width: 19%;
							float: right;
							
							color: $accent_color;
							font-weight: $heavy_weight;
							text-align: right;
						}
					}
					
					li:hover {
						span.left {
							padding-left: 10px;
						}
						span.right {
							padding-right: 10px;
						}
					}
				}
			}
		}
	}
	
	div#left {
	
		section {
			nav {
				color: $xdark_color;
				
				a {
					font-weight: $light_weight;
					text-align: center;
					padding: 20px 0 10px 0;
					text-decoration: none;
					color: $xdark_color;
				}
				a.active {
					border-bottom: 3px solid $accent_color;
					color: $accent_color;
					font-weight: $heavy_weight;
				}
			}
			div#main {
				background: $xlight_color;
				color: $xdark_color;
				
				div.date {
					color: $accent_color;
					font-weight: $medium_weight;
					font-size: $normal_text;
					
					padding: 20px 20px 10px 20px;
					border-bottom: 1px solid $accent_color;
				}
				
				div.game,
				> div.player {
					border-bottom: 1px solid $dark_color;
					
					div.playerid {
						span.nickname {
							color: $xxdark_color;
							font-weight: $medium_weight;
						}
						span.fullname {
							display: block;
							font-size: $small_text;
						}
					}
				}
				
				div.game {
					padding-right: 40px;
					
					div.player {
						div.badges {
						}
					}
				}
				
				> div.player {
					div.playerid {
						text-align: center;
					}
					
					div.player_stats {
						font-size: $small_text;
						color: $xxdark_color;
					
						div.stats_bar {
							height: 15px;
							background-color: $accent-color;
							margin-top: 5px;
							
							div {
								height: 100%;
								float: left;
							}
							div.lighter {
								background-color: lighten( $accent-color, 10%);
							}
							div.darker {
								background-color: darken( $accent-color, 10%);
							}
						}
					}
				}
				
				div:nth-child(2n) div.date,
				div:nth-child(2n) div.game,
				> div.player:nth-child(2n) {
					background: $light_color;
				}
			}
		}
		
		footer {
			color: $xdark_color;
			padding: 20px 20px 60px 20px;
			font-size: $small_text;
			
			strong {
				font-weight: $light_weight;
				color: $dark-color;
				
				strong {
					font-weight: $heavy_weight;
				}
			}
		}
	}






